<div class="section-container">
    <div class="toolbar">
        <app-file-import (onFileSelected)="onSelectedFile($event)"></app-file-import>
        <div *ngIf="selectedFileEditOption">
            <button mat-raised-button (click)="saveFile()" color="primary">Save file</button>
        </div>
    </div>

    <div *ngIf="isProcessing">
        <mat-spinner></mat-spinner>
    </div>

    <ng-container *ngIf="!isProcessing">
        <div class="container" *ngIf="selectedFileEditOption">
            <div class="textarea-container" *ngIf="selectedFileEditOption?.type=='raw'">
                <textarea matInput style="resize: none;" [(ngModel)]="rawContent"></textarea>
            </div>
        </div>

        <div class="container" *ngIf="selectedFileEditOption?.type=='table'">
            <div class="table-container" *ngVar="getFilteredFields() as fields">
                <table class="experience-table">
                    <thead>
                        <tr>
                            <th *ngFor="let field of fields" [ngStyle]="{width:getWidth(field)}">{{field.name}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let row of table.rows">
                            <td *ngFor="let field of fields">
                                <span *ngIf="!field.isEditable">
                                    {{row[field.internalName+"Mapped"]?row[field.internalName+"Mapped"]:row[field.internalName]}}
                                </span>
                                <ng-container *ngIf="field.isEditable">
                                    <input *ngIf="field.type=='string'" matInput [(ngModel)]="row[field.internalName]" />
                                    <span *ngIf="field.type=='color'" class="color-picker-container">
                                        <span [(colorPicker)]="row[field.internalName]" [cpPositionRelativeToArrow]="true"
                                            [cpOutputFormat]="'hex'" [style.color]="row[field.internalName]">
                                            <span class="text">Text example (click to change)</span>
                                        </span>
                                    </span>

                                </ng-container>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </ng-container>
</div>