<div class="center-container">
    <h1>Lineage 2 Tools</h1>
    <div class="button-container">
        <button routerLink="/enchanting-price">
            <img src="../../assets/ench_s.png" alt="Enchanting price">
            <label>Enchanted items price</label>
        </button>
        <button routerLink="/experience-table">
            <img src="../../assets/experience.png" alt="Experience table">
            <label>Experience table</label>
        </button>
        <button routerLink="/file-editor">
            <img src="../../assets/file-editor.png" alt="File editor">
            <label>File editor</label>
        </button>
    </div>
</div>