<div class="center-container">
    <h1>Welcome to My Website</h1>
    <div class="button-container">
      <button routerLink="/enchanting-cost">
        <img src="../../assets/ench_s.png" alt="Enchanting cost">
        Section 1
      </button>
      <button routerLink="/section2">
        <img src="path_to_image2.jpg" alt="Section 2">
        Section 2
      </button>
      <button routerLink="/section3">
        <img src="path_to_image3.jpg" alt="Section 3">
        Section 3
      </button>
    </div>
</div>